@import "../node_modules/bootstrap/dist/css/bootstrap.css";
@import "./style";
body {
  background-color: #f5efe6;
}

.header {
  $header-height: 500px;
  width: 800px;
  padding: 50px 0 100px 0px;
  margin: auto;
  box-sizing: border-box;
  background-color: #7895b2;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px;
  width: 100%;

  form {
    margin: auto;
    color: #e8dfca;
    max-width: 700px;
    background-color: rgba(255, 255, 255, 0);
    display: flex;
    gap: 0 150px;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;

    div {
      width: 260px;
    }

    .form-control {
      background-color: #f5efe6;
      margin-bottom: 20px;
      box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
        rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    }

    .form-check-container {
      padding-top: 20px;
      .form-check {
        margin-bottom: 18px;
        caret-color: transparent;
        &-input:checked {
          background-color: #7895b2;
          border-color: #e8dfca;
        }
      }
    }

    button {
      display: none;
    }
  }
}
.go {
  position: relative;
  margin-bottom: 120px;
  button {
    width: 170px;
    height: 170px;
    border-radius: 50%;
    display: inline-block;
    position: absolute;
    top: 0;
    font-size: x-large;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgb(120, 149, 178);
    border-color: #e8dfca;
    border-width: 6px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    font-weight: bold;
    color: #e8dfca;
    &:hover {
      background-color: hsl(210, 27%, 65%);
      border-color: hsl(120, 25%, 50%);
    }
  }
}

#current-state {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;

  span.title {
    padding: 5px 30px 5px 5px;
    height: 30px;
    line-height: 20px;
    font-size: 15px;
    margin-right: 50px;
    margin-bottom: 20px;
    position: relative;
    color: hsl(210, 27%, 40%);
    background-color: #e8dfca;

    .number {
      position: absolute;
      background-color: hsl(0, 50%, 50%);
      top: 0;
      right: -30px;
      border-radius: 0 5px 5px 0;
      height: 50px;
      height: 30px;
      margin: 0;
      font-size: 15px;
      line-height: 20px;
      color: #f5efe6;
      width: 50px;

      &.green {
        background-color: hsl(120, 25%, 50%);
      }
    }
  }
}

#tables-container {
  padding: 35px;
  text-align: center;
  table {
    margin: 35px auto;
  }
  th,
  td {
    color: hsl(210, 27%, 48%);
  }
}
